body {
    margin: 0;
}
div.first {
    border: 20px solid plum;
    border-right: 10px solid brown;
    border-bottom: 15px solid purple;
    border-left: 15px solid lightblue;
    
    /* padding: 20px; */
    padding-top:  50px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 30px;
    /* margin: 20px; */
    /* margin: 위, 오른쪽, 아래, 왼쪽 */
    margin: 0 auto;
    width: 50%;
}
/* div.second가 더 빠른 성능을 가지고 있음 */
div.second {
    border: 20px solid pink;
    width: 200px;
    /* margin에 auto는 좌우 가운데 정렬 */
    margin: 20px auto;
}

div.third {
    border: 20px solid lightblue;
    max-width: 700px;
    min-width: 500px;
}

div.talk {
    width: 100px;
    background-color: rgb(255, 238, 57);
    padding: 10px;
    margin: 20px;
}

div.talk.right {
    border-radius: 10px 0 10px 10px;
    margin-left: 200px;
}

div.talk.left {
    border-radius: 0 10px 10px 10px;
}

#p, #c1, #c2 {
    border: 5px solid salmon;
}
#p {
    margin-top: 20px;
}
#c1, #c2 {
    margin: 10px;
}

div.box {
    border: 1px solid skyblue;
    margin: 10px;
    padding: 50px;
    width: 50%;
}

div.box.border {
    box-sizing: border-box;
}